<div class="background">
  <div class="loginBox">
    <div>
      <input type="text" class="shadow-none form-control bg-light inputBox" placeholder="username">
    </div>
    <div>
      <input type="text" class="shadow-none form-control bg-light inputBox" placeholder="password">
    </div>
    <button style="height: 55px; margin-bottom: 10px" class="btn btn-success btn-block">LOGIN</button>
    <div style="text-align: center">
      <span>Not registered? </span>
      <span style="color: limegreen">Create an account</span>
    </div>
  </div>
</div>

