.background {
  height: 100%;
  margin: auto;
}
.loginBox {
  position: relative;
  background-color: white;
  justify-content: center;
  height: 350px;
  width: 400px;
  padding: 60px 55px;
  top:40%;
  left: 45%;
  transform: translate(-40%, -45%);
}
.inputBox {
  height: 55px;
  margin-bottom: 20px;
}
