.background {
  height: 100%;
  margin: auto;
}
.loginBox {
  position: relative;
  background-color: white;
  justify-content: center;
  height: 400px;
  width: 400px;
  padding: 55px 55px;
  top:40%;
  left: 48%;
  transform: translate(-40%, -48%);
}
.inputBox {
  height: 55px;
  margin-bottom: 20px;
}
button {
  height: 55px;
  margin-bottom: 10px;
  margin-right: 20px;
}
