<div class="background">
  <div class="loginBox">
    <div style="text-align: center; margin-bottom: 20px">
      <h4>Welcome to the kitchen</h4>
    </div>
    <div>
      <input type="text" [(ngModel)]="meat" class="shadow-none form-control bg-light inputBox" placeholder="meat">
    </div>
    <div>
      <input type="text" [(ngModel)]="vegetable" class="shadow-none form-control bg-light inputBox" placeholder="vegetable">
    </div>
    <div style="display: flex; justify-content: center; align-items: center">
      <button class="btn btn-primary" (click)="cook()">COOK</button>
      <button class="btn btn-primary" (click)="reset()">RESET</button>
    </div>
    <div style="text-align: center">
      <p>{{message}}</p>
    </div>
  </div>
</div>
